//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.custom-btn {
    padding: 12px 22px;
    margin-left: 5px;

    font-family: $font-opensans-semibold;
    font-size: 14px;

    border-radius: 50px;
}

.btn-color-1 {
    color: $light-grey;

    background-color: $brand-color;
}

.btn-color-2 {
    color: $light-grey;

    background-color: $yellow-color;
}

.blue-gradient-btn {
    font-size: 16px;
    color: $light-grey;

    background: linear-gradient(90deg, #52adf0 0%, #226ca9 100%);
    border-radius: 60px;
}

.history-btn {
    padding: 15px 55px;

    color: $text-color;

    background-color: $light-yellew;
    border-radius: 50px;
}

.button-1 {
    padding: 15px 22px;
    margin-top: 15px;
    margin-right: 5px;
}

.button-2 {
    margin-top: 15px;
}

.button-3 {
    padding: 15px 60px;
    margin-top: 75px;
}

.button-4 {
    padding: 15px 50px;
    margin-top: 31px;
}

.dropdown-toggle::after {
    display: none;
}

.custom-dropdown {
    .dropdown-menu {
        min-width: 5rem;

        background-color: $brand-color;
        
        .dropdown-item {
            color: $light-grey;
        }

        .dropdown-item:hover {
            background-color: $light-blue;
        }
    }
}

.dropdown-btn {
    padding: 15px 35px;
    margin-top: 37px;

    font-family: $font-opensans-semibold;
    color: $dark-grey;

    border-radius: 50px;

    .icon {
        margin-left: 50px;
    }
}

//991 - 768 
@include respond-to(md) {
    .btn-color-1,
    .btn-color-2 {
        padding: 10px 20px;
    }

    .button-1, 
    .button-2 {
        margin-top: 23px;
    }

    .button-3 {
        padding: 10px 40px;
        margin-top: 34px;
        margin-left: 19px;

        font-size: 13px;
    }

    .button-4 {
        padding: 10px 33px;
        margin-top: 24px;
        
        font-size: 12px;
    }
}

//575 - 320
@include respond-to(xs) {
    .button-1 {
        padding: 10px 11px;
    }

    .button-2 {
        padding: 10px 37px;
    }

    .button-1, 
    .button-2 {
        font-size: 13px;
        margin-top: 7px;
        margin-right: 0px;
    }

    .button-3 {
        margin-top: 20px;
        padding: 11px 40px;
        font-size: 12px;
    }
}